#create-job {
	width: 60%;
	max-width: 700px;
	justify-content: center;
	margin-top: 30px;
}

#create-job textarea, input {
	margin-top : 20px;
	margin-bottom : 20px;
	font-size: 12pt;
}

#create-job textarea {
	height: 200px;
	padding: 20px 20px;
}

#create-job input {
	height: 35px;
	padding: 2px 20px;
}

#job-submitexit {
	justify-content: space-between;
	margin-top: 10px;
}

#job-submitexit button {
	background-color: #A96562;
	width: 200px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 14pt;
}

#job-cancel {
	background-color: inherit;
	padding: 10px 10px;
	margin-left: auto;
	font-size: 14pt;
}
