#home-logo {
	font-size: 80pt;
	padding-top: 50px;
}

.large-button {
	font-size: 30pt;
	padding: 15px 30px;
	background-color: #A96562;
	width: 500px;
	max-width: 80%;
	height: 150px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}
