#homebutton {
	background-color: inherit;
	font-size: 30pt;
	margin-left: 20px;
	margin-right: -10px;
}

#navbar {
	border-bottom: 1px solid black;
	align-items: center;
	justify-content: space-between;
	height: 80px;
}

#alt-search {
	background-color:inherit;
	align-self: flex-end;
	margin-right: 0px;
	padding-right: 0px;
}

#search-wrapper {
	border:1px solid #000;
	border-radius: 15px;
  	display:flex;
	background-color: white;
	white-space: nowrap;
	width: 100%;
	align-items: center;
	justify-content: center;
	height: 35px;
}

#search-wrapper input {
	background-color:transparent;
	height: 26px;
	padding: 5px 10px;
    border:0;
	flex-grow: 2;
	width: 80%;
	font-size: 18pt;
	margin-left: 10px;
}

#search-wrapper input:focus {
	outline: 0;
}

#search-button {
	background-color: transparent;
	flex-shrink: 0;
	padding: 10px 10px;
}

#search-button:focus {
	outline: 0;
}

#search-flexbox {
	flex-grow: 2;
	max-width: 80%;
}

#search-bar {
	width: 100%;
	display: flex;
	justify-content: center;
}

#alt-search {
	font-size: 13pt;
}
