@import url('https://fonts.googleapis.com/css2?family=Chivo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

body {
    background-color: #9EBC99;
    font-family: 'Chivo', sans-serif;
}

button {
    display: inline-block;
    border: none;
    font-family: 'Chivo', sans-serif;
}

.App {
    text-align: center;
}

.logo {
    font-family: 'Special Elite', cursive;
    font-weight: 400;
}

.column {
	display: flex;
	flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}
