@import url('https://fonts.googleapis.com/css2?family=Chivo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

body {
    background-color: #9EBC99;
    font-family: 'Chivo', sans-serif;
}

button {
    display: inline-block;
    background-color: #A96562;
    border: none;
    font-family: 'Chivo', sans-serif;
}

.App {
    text-align: center;
}

.logo {
    font-family: 'Special Elite', cursive;
    font-weight: 400;
}
